@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-gray-950 to-gray-900 text-gray-900 ;
}

html,
body,
#__next {
  height: 100%;
}

@layer components {
  .card {
    @apply bg-white shadow-md rounded-2xl p-4;
  }
  .btn {
    @apply bg-gradient-to-r from-pink-400 to-pink-300 text-gray-900 font-semibold px-4 py-2 rounded-xl hover:opacity-90 transition;
  }
  .input {
    @apply w-full border border-gray-300 rounded-lg px-3 py-2;
  }
  .label {
    @apply text-sm text-gray-500 font-medium mb-1 block;
  }
  .muted {
    @apply text-sm text-gray-500;
  }
}
